@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("../public/font/Yekan.ttf") format("ttf"),
    url("../public/font/Yekan.eot") format("eot"),
    url("../public/font/Yekan.woff") format("woff"),
    url("../public/font/Yekan.woff2") format("woff2");
}

@layer base {
  html {
    font-family: yekan, system-ui, sans-serif;
  }
}


/* Hero Slider Costum */
.heroSlider .swiper-button-prev:after, .swiper-button-next:after {
  font-size: 20px!important;
}
.heroSlider .swiper-button-prev:after, .swiper-button-next:after {
  color: black;
  font-weight: bolder;
}

/* Category Slider Costum */
.categorySlider .swiper-button-prev:after{
  font-size: 16px!important;
}
.categorySlider .swiper-button-next:after{
  font-size: 16px!important;
}
.categorySlider .swiper-button-prev:after{
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px 8px;
}
.categorySlider .swiper-button-next:after{
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px 8px;
}

/* Offer Slider Costum */
.offer .swiper-button-prev:after{
  font-size: 16px!important;
}
.offer .swiper-button-next:after{
  font-size: 16px!important;
}
.offer .swiper-button-prev:after{
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}
.offer .swiper-button-next:after{
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}
/* laptop Slider Costum */
.laptop .swiper-button-prev:after{
  font-size: 16px!important;
}
.laptop .swiper-button-next:after{
  font-size: 16px!important;
}
.laptop .swiper-button-prev:after{
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}
.laptop .swiper-button-next:after{
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}
