@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("../public/font/Yekan.ttf") format("ttf"),
    url("../public/font/Yekan.eot") format("eot"),
    url("../public/font/Yekan.woff") format("woff"),
    url("../public/font/Yekan.woff2") format("woff2");
}

@layer base {
  html {
    font-family: yekan, system-ui, sans-serif;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Hero Slider Costum */
.heroSlider .swiper-button-prev:after, .swiper-button-next:after {
  font-size: 20px!important;
}
.heroSlider .swiper-button-prev:after, .swiper-button-next:after {
  color: black;
  font-weight: bolder;
}

/* Category Slider Costum */
.categorySlider .swiper-button-prev:after{
  font-size: 16px!important;
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px 8px;
}
.categorySlider .swiper-button-next:after{
  font-size: 16px!important;
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px 8px;
}

/* Offer Slider Costum */
.offer .swiper-button-prev:after{
  font-size: 16px!important;
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}
.offer .swiper-button-next:after{
  font-size: 16px!important;
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}

/* productsSlider Slider Costum */
.productsSlider .swiper-button-prev:after{
  font-size: 16px!important;
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}
.productsSlider .swiper-button-next:after{
  font-size: 16px!important;
  color: #000;
  font-weight: bolder;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px 8px;
}
.productsSlider .swiper-button-prev{
  background-color: white;
  box-shadow: 1px 0 3px #c8c8c8;
  right: 0!important;
  border-radius: 5px 0 0 5px;
}
.productsSlider .swiper-button-next{
  background-color: white;
  box-shadow: 1px 0 3px #c8c8c8;
  left: 0!important;
  border-radius: 0 5px 5px 0;
}

/* Product Image Slider  Costum*/
.product-slider-image{
  width: 300px;
  height: 300px;
}
.product-slider-image .swiper-slide{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 400px){
  .product-slider-image{
    width: 240px;
    height: 240px;
  }
  .product-slider-image .swiper-slide{
    width: 240px;
    height: 240px;
  }
}